<h1>Index</h1>
<h3>List of all todo items</h3>
<% @items.each do |item| %>
	<%= item.title %>
	<%= item.description %>
	<%= link_to 'Edit', edit_item_path(item.id) %></br></br>
<% end %>
<%= link_to 'New', :action => 'new' %>